ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

ul.navbar > li {
    float: left;
}

ul.navbar li > * {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar button {
    background-color: unset;
    border: unset;
}

ul.navbar > li > *:hover:not(.active), .navbar >  section > *:hover:not(.active) {
    background-color: #111;
}

.navbar > section {
    display: flex;
    justify-content: flex-end;
    color: white;
}

.active{
    background-color: #04AA6D;
}
