body {
  margin: 0;
}

.App {
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.prodCard {
  margin: 10px;
  height: 350px;
  width: 200px;
  border: 1px solid navy;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.prodCard > img {
  height: 200px;
  object-fit: cover;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
